<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
</head>
<body>
    <div th:if="${user != null}">
        <h3>Logged in as:
            <span th:text="${user.username}" style="color: darkgray"/>
        </h3>
        <h4><a href="/logout">Logout</a></h4>
        <h4><a href="/category-view">Move to Virtual Closet</a></h4>
    </div>
</body>
</html>